<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>742397864196-9m3s5a4cm6f6bnmastn2m700q0og660m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742397864196-9m3s5a4cm6f6bnmastn2m700q0og660m</string>
	<key>API_KEY</key>
	<string>AIzaSyDv_1w8uBfWL987rQ_OG95F6vqcdQZDAQg</string>
	<key>GCM_SENDER_ID</key>
	<string>742397864196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford1.cs377u.pInspire16573</string>
	<key>PROJECT_ID</key>
	<string>pinspire-40fe0</string>
	<key>STORAGE_BUCKET</key>
	<string>pinspire-40fe0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:742397864196:ios:714dcfe90a70eedf</string>
	<key>DATABASE_URL</key>
	<string>https://pinspire-40fe0.firebaseio.com</string>
</dict>
</plist>
